@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&Marker&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(0, 52, 95);
  display: flex;
  justify-content: space-evenly;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:whitesmoke;
}
ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li button{
  width:100%;
}

li a {
  width:100%;
  display: block;
  padding: 14px 16px;
}

img {
  height: 100%;
  width: 100%;
}

input{
  width:80%;
  font-size:100%;
  padding:5px;
  outline: none;
}

button{
  padding:10px 14px;
  border:none;
  background-color: rgb(112, 191, 255);
  transition: 0.4s;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

button:hover{
  cursor: pointer;
  background-color: rgb(0, 93, 170);
  color:rgb(112, 191, 255);
}

#loginBtn{
  width:80%;
}

.menu{
  width:100%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

#checkoutBtn{
  width:200px;
}
#checkoutBtn:hover, #checkOutBtn:hover{
  background-color:rgb(28, 206, 132);
  color:rgb(0, 93, 170);
}

#removebtn:hover{
  background-color: firebrick;
}

#logo{
  width:30%;
  min-width:250px;
}
.productCard {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgContainer {
  width: 50%;
}
.actionContainer{
  display: flex;
  flex-direction:row;
}
#indexContainer{
  margin:0px 5px;
}
#mainContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:whitesmoke;
}

#cardDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  padding:10px;
}

#produktdiv{
  width:50%;
  max-width:400px;
  min-width:260px;
} 

#productCard{
  margin:10px;
  padding:10px;
}

#form{
  display:block;
  margin-top:5%;
  background-color:rgb(0, 52, 95) ;
}
#formarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding:10px 0px;
  padding-bottom: 5%;
 }

 #formarea h1{
  color: whitesmoke;
  padding:5px 0px;
  font-family:Arial, Helvetica, sans-serif;
 }

 #formarea input {
  width:33%;
  padding:10px;
  margin: 5px 10px;
 }

 #formarea #SignUp{
   margin: auto;
   width:33%;
 }